@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

:root {
	--hColor: #42220c;
	--btnColor: #a5531d;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

a {
	text-decoration: none;
}

ul li {
	list-style: none;
}

.header,
.container {
	margin: auto;
	padding-left: 50px;
	padding-right: 50px;
	max-width: 1300px;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 25px;
}

.navbar .logo img {
	width: 90px;
}

nav ul li {
	display: inline-block;
	margin-right: 25px;
}

nav li a {
	color: var(--hColor);
	font-weight: 600;
}

nav {
	margin-right: 35%;
}

.icon i {
	font-size: 25px;
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.col-2 {
	flex-basis: 50%;
}

.container .box {
	width: 500px;
	height: 500px;
	margin-top: -60px;
	position: relative;
}

.container .box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	mix-blend-mode: screen;
}

.container .box video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}

.col-2 h1 {
	font-size: 3rem;
	color: var(--hColor);
}

.col-2 span {
	font-size: 6rem;
	margin-left: 80px !important;
	line-height: 60px;
	margin: 20px 0;
}

.col-2 p {
	margin: 15px 0;
	font-weight: 400;
}

.btn {
	display: inline-block;
	color: #fff;
	background-color: var(--btnColor);
	padding: 8px 30px;
	border-radius: 30px;
	margin-top: 5px;
	margin-left: 70%;
}
